.footer {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: var(--spacing-m);
  background: none;
  font-family: var(--font-text), sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size-s);
  color: var(--color-neutral-5);

  &:focus-visible {
    outline: var(--border-size) solid var(--color-solid-4);
    outline-offset: calc(-1 * var(--border-size));
  }
}
